{% extends 'rental/base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold">Leave a Review</h2>
    
    <form method="POST" class="mt-4">
        {% csrf_token %}
        
        <!-- Rating Field -->
        <div class="mb-4">
            <label for="{{ form.rating.id_for_label }}" class="block text-lg font-medium text-gray-700">Rating</label>
            {{ form.rating }}
        </div>

        <!-- Comment Field -->
        <div class="mb-4">
            <label for="{{ form.comment.id_for_label }}" class="block text-lg font-medium text-gray-700">Comment</label>
            {{ form.comment }}
        </div>

        <button type="submit" class="btn-primary mt-4 border bg-red-700 py-2 px-4 rounded-xl hover:bg-red-800 text-white">
            Submit Review
        </button>
    </form>
</div>

{% endblock %}
