{% extends 'rental/base.html' %}

{% block content %}
<div class="text-center mb-12" data-aos="fade-up">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Discover Your Perfect Ride</h1>
    <p class="text-gray-600 text-lg">Choose from our wide selection of quality vehicles</p>
</div>

 <!-- Featured Cars Section -->
<h2 class="text-3xl font-bold text-gray-800 mb-6">Featured Cars</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for car in featured_cars %}
         <div class="bg-white rounded-xl shadow-lg overflow-hidden card-hover" data-aos="fade-up">
            <img src="{{ car.image.url }}" alt="{{ car.name }}" class="w-full h-62 object-cover">
            <div class="p-6">
                <h2 class="text-2xl font-bold text-gray-800 mb-4">{{ car.name }}</h2>

                {% comment %} <p class="text-gray-600 mb-4">{{ car.model_year }}</p> {% endcomment %}
                <div class="flex items-center text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                    </svg>
                    <p class="mb-2">Seats: {{ car.seats }} </p>
                </div>
                <div class="flex items-center text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                    <span>{{ car.get_transmission_display }}</span>
                </div>
                
                <span class="bg-yellow-500 text-black px-4 py-2 rounded-2xl">⭐ {{ car.rating }}</span>
                <a href="{% url 'car_detail' car.id %}" class="btn-primary inline-block mt-4 bg-green-500 hover:bg-green-600 rounded-2xl py-2 px-4 ml-12 mb-6">View Details</a>
            </div>
        </div> 
      
        
    {% empty %}
        <p class="text-gray-600">No featured cars available at the moment.</p>
    {% endfor %}
</div> 



{% endblock %}
