{% extends 'rental/base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-6">Login</h2>
    
    <form method="post" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="id_username" class="block text-sm font-medium text-gray-700">Username</label>
            <input type="text" class="border p-1 outline-none w-full" name="username" id="id_username" required
                   class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500">
        </div>
        
        <div>
            <label for="id_password" class="block text-sm font-medium text-gray-700">Password</label>
            <input type="password" class="border p-1 outline-none w-full"  name="password" id="id_password" required
                   class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500">
        </div>

        {% if form.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}

        <button type="submit" 
                class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
            Login
        </button>
    </form>

    <p class="mt-4 text-center text-gray-600">
        Don't have an account? 
        <a href="{% url 'register' %}" class="text-blue-600 hover:underline">SignUp</a>
    </p>
</div>
{% endblock %}
