{% extends 'rental/base.html' %}

{% block content %}
{% comment %} <div class="max-w-md mx-auto bg-white rounded-lg shadow-md p-6">
    <h2 class="text-2xl font-bold mb-6 text-center">SignUp</h2>
    
    <form method="POST" class="space-y-6 w-100 h-100">
        {% csrf_token %}
        <input type="text"     class="border outline-none p-1 w-full"name="username" placeholder="Username" required>
        <input type="email"    class="border outline-none p-1 w-full" name="email" placeholder="Email" required>
        <input type="password" class="border outline-none p-1 w-full"  name="password" placeholder="Password" required>
        <input type="password" class="border outline-none p-1 w-full"  name="confirmPassword" placeholder="confirmPassword" required>
        <button type="submit" class="border px-6 py-1 bg-red-600 rounded-xl hover:bg-red-500">Register</button>
      
    </form>

    <p class="mt-4 text-center text-gray-600">
        Already have an account? 
        <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Login</a>
    </p>
</div> {% endcomment %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Username:</label>
    {{ form.username }}
    
    <label>Email:</label>
    {{ form.email }}
    
    <label>Password:</label>
    {{ form.password }}
    
    <label>Upload ID/Passport (Front):</label>
    {{ form.id_front }}
    
    <label>Upload ID/Passport (Back):</label>
    {{ form.id_back }}

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg">Register</button>
</form>

{% if messages %}
  {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
  {% endfor %}
{% endif %}


{% endblock %}
