{% extends 'rental/base.html' %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/rental_list.css' %}">
{% block content %}

<div class="container max-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Available cars for {{ category }} </h1>
      {% if cars %}
      <div class="grid grid-cols-1 md:grid:cols-2 lg:grid-cols-3 gap-6">
         {% for car in cars %}
         <div class="bg-white rounded-lg shadow-lg overflow-hidden transition-transform hover:scale-105">
            <img src="{{ car.image.url }}" alt="{{ car.name }}" class="w-full h-56 object-cover" 
            onerror="this.src='{% static 'images/default_car_image.jpg' %}'">
            <div class="p-6">
                <h2 class="text-xl font-bold text-gray-900">{{ car.model }}- {{ car.name }}</h2>
                 <p class="text-gray-600 mt-2">Seats: {{ car.seats }}, Transmition: {{car.transmission}}</p>
                 <p class="text-gray-600">GPS: {% if car.gps_tracking  %} Yes {% else %}No {% endif %}, Year: {{ car.model_year }}</p>
                 <p class="text-blue-600 font-bold mt-2"> ETB {{ car.price_per_day }}/day</p>
                 <div class="mt-4">
                    <a href="{% url 'car_detail' car.id %}" class="block bg-blue-500 text-white text-center py-2 rounded-lg hover:bg-blue-600">
                        view Details
                    </a>
                 </div>
            </div>
         </div>
         {% endfor %}
      </div>
        {% else %}
        <p class="text-gray-500 text-center text-lg mt-8">No available cars for this category.</p>
         {% endif %}
</div>

{% endblock %}
